@model MvcKutuphane2.Models.TBLUYELER
@{
    ViewBag.Title = "UyeGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UyeGuncelle", "Uye", FormMethod.Post))
{
    <br />

    <div class="form-group" style="margin:15px">
        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        @*@Html.LabelFor(k => k.AD)*@
        <label>Üye Adı</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
        <br />
        <label>Üye Soyadı</label>
        @Html.TextBoxFor(k => k.SOYAD, new { @class = "form-control" })
        <br />
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(k => k.KULLANICIADI, new { @class = "form-control" })
        <br />
        <label>Şifre</label>
        @Html.TextBoxFor(k => k.SIFRE, new { @class = "form-control" })
        <br />
        <label>Mail Adresi</label>
        @Html.TextBoxFor(k => k.MAIL, new { @class = "form-control" })
        <br />
        <label>Okulu</label>
        @Html.TextBoxFor(k => k.OKUL, new { @class = "form-control" })
        <br />
        <label>Telefon</label>
        @Html.TextBoxFor(k => k.TELEFON, new { @class = "form-control" })
        <br />
        <label>Fotoğraf</label>
        @Html.TextBoxFor(k => k.FOTOGRAF, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}

