@using MvcKutuphane2.Models
@model List<TBLKITAP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="margin:15px">Kitap Sayfası</h2>
<div style="margin:15px">
@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px">
        <b>Aranacak Kitap Adını Girin: </b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </div>
}
    </div>


<table class="table table-bordered" style="margin:15px">
    <tr>
        <th>Id</th>
        <th>Kitap Adı</th>
        <th>Kitap Yazarı</th>
        <th>Kategorisi</th>
        <th>Basım Yılı</th>
        <th>Yayınevi</th>
        <th>Sayfa</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.AD</td>
            <td>@item.TBLYAZAR.AD&nbsp;@item.TBLYAZAR.SOYAD</td>
            <td>@item.TBLKATEGORI.AD</td>
            <td>@item.BASIMYIL</td>
            <td>@item.YAYINEVI</td>
            <td>@item.SAYFA</td>
            <td>@item.DURUM</td>
            <td><a href="/Kitap/KitapSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kitap/KitapGetir/@item.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a class="btn btn-primary" href="/Kitap/KitapEkle" style="margin:15px">Yeni Kitap Ekle</a>

